<html>
	<head>
	</head>
	<body>
		<h1>Bugsnag Node.js Example App</h1>
		<h2>Sync</h2>
		<ul>
			<li><a href="/notify">Notify Error</a></li>
			<li><a href="/uncaught">Uncaught Error</a></li>
			<li><a href="/callback">Callback returning error</a></li>
			<li><a href="/emitter">Event emitter error</a></li>
		</ul>
		<h2>Async</h2>
		<ul>
			<li><a href="/async/notify">Notify Error</a></li>
			<li><a href="/async/uncaught">Uncaught Error</a></li>
			<li><a href="/async/callback">Callback returning error</a></li>
			<li><a href="/async/emitter">Event emitter error</a></li>
		</ul>
	</body>
</html>